.env
*.env

services/*
!services/.gitkeep

docker/letsencrypt/certs/*
docker/letsencrypt/acme/*
!docker/letsencrypt/certs/.gitkeep
!docker/letsencrypt/acme/.gitkeep

docker/proxy/*
!docker/proxy/*/.gitkeep

docker/landing/*
!docker/landing/*/.gitkeep
!docker/landing/*/default.conf

docker/users/*
!docker/users/*/.gitkeep
!docker/users/*/default.conf

.idea
.DS_Store
